<html>
<head>
    <script type="text/javascript" src="static/jquery.min.js"></script>
    <script>
        interval = setInterval(updateData, 1000);
        function updateData() {
            $.ajax({
                url: '/update',
                type: 'POST',
                success: function (response) {
                    if (response.length > 20)
                    {
                        clearInterval(interval);
                    }
                    var divElement = document.getElementById('data');
                    divElement.innerHTML = response;
                }
            });
        }
    </script>
</head>
<body>
    <div id="data">数据获取中...</div>
</body>
</html>
